/* 
  Official as of May 2020
  - Although there is no way to use it offically.
  - Present in site CSS files.
*/
body.theme-dark {
  scrollbar-color:#3a3a3c #2c2c2e;
  --accountwidget_account_list_item_background:#1c1c1e;
  --accountwidget_accounttype_background:#3a3a3c;
  --accountwidget_accounttype_background_active:#48484a;
  --accountwidget_background:#2c2c2e;
  --accountwidget_connected_card_active:#3a3a3c;
  --accountwidget_connections_update_notification_background:#1c1c1e;
  --accountwidget_connectiontip_background:rgba(253,190,42,0.12);
  --accountwidget_connectiontip_border:rgba(0,0,0,0.06);
  --accountwidget_connectiontip_heading:#1f1b13;
  --accountwidget_connectiontip_icon:#9e8c62;
  --accountwidget_connectiontip_text:rgba(51,51,51,0.75);
  --accountwidget_help_background:#36284d;
  --accountwidget_help_icon:#b087c4;
  --accountwidget_help_link:#b087c4;
  --accountwidget_illustration_background:#d8e9f7;
  --alertbar_background:#25384f;
  --alertbar_background_active:#25384f;
  --alertbar_background_hover:#213247;
  --alertbar_text_default:#fff;
  --banner_bottom_notice_background:#ca481d;
  --banner_bottom_notice_background_active:#932810;
  --banner_bottom_notice_text:#fff;
  --budget_balance_negative_background:#651c0b;
  --budget_balance_negative_background_active:#9b2b11;
  --budget_balance_negative_icon:#fff;
  --budget_balance_negative_text:#fff;
  --budget_balance_positive_background:#324412;
  --budget_balance_positive_background_active:#57761f;
  --budget_balance_positive_icon:#fff;
  --budget_balance_positive_text:#fff;
  --budget_balance_warning_background:#673b0a;
  --budget_balance_warning_background_active:#9d5a0f;
  --budget_balance_warning_icon:#fff;
  --budget_balance_warning_text:#fff;
  --budget_balance_zero_background:#3a3a3c;
  --budget_balance_zero_icon:#d1d1d6;
  --budget_balance_zero_text:#c7c7cc;
  --budget_bar_background:#2c2c2e;
  --budget_bar_empty:#48484a;
  --budgets_thumbnail_background:#48484a;
  --calendar_month_hover:#4594d6;
  --checkbox_background:$utilityAlmostBlueBlack1000;
  --checkbox_border:#aeaeb2;
  --checkbox_foreground_selected:#fff;
  --dashboard_button_background:#3a3a3c;
  --dashboard_button_background_active:#48484a;
  --default_background:#1c1c1e;
  --default_background_dark:#2c2c2e;
  --default_text:#fff;
  --default_text_dark:#fff;
  --destructive_action:#e26136;
  --destructive_action_active:#eb7a5b;
  --destructive_button_text:#fff;
  --divider:rgba(84,84,88,0.55);
  --divider_strong:rgba(84,84,88,0.75);
  --divider_subdued:rgba(84,84,88,0.45);
  --flash_notification_background:#2c2c2e;
  --header_background:#2c2c2e;
  --header_default_text:#fff;
  --header_default_text_subdued:hsla(0,0%,100%,0.7);
  --header_divider:rgba(84,84,88,0.65);
  --header_negative_text:#e26136;
  --header_positive_text:#80b83d;
  --header_primary_action_subdued:$legacy_action_subdued;
  --icon_fill:#aeaeb2;
  --icon_fill_disabled:#8e8e93;
  --inspector_alert_background:#651c0b;
  --inspector_alert_text:#f49e8b;
  --inspector_background:#1c1c1e;
  --inspector_confirmation_background:#324412;
  --inspector_confirmation_text:#cdea9f;
  --inspector_default_text:#fff;
  --inspector_default_text_subdued:#c7c7cc;
  --inspector_divider:rgba(0,0,0,0.15);
  --inspector_goal_message_success_text:$succesa100;
  --inspector_goal_message_warning_text:#fef6e1;
  --inspector_goals_icon_dark:#636366;
  --inspector_goals_icon_light:#aeaeb2;
  --inspector_negative_text:#e26136;
  --inspector_positive_text:#80b83d;
  --inspector_progressbar_background:#2c2c2e;
  --inspector_quickbudget_button_background:#2c2c2e;
  --inspector_quickbudget_button_text:#fff;
  --inspector_quickbudget_button_text_active:#fff;
  --inspector_section_heading_background:#2c2c2e;
  --inspector_section_heading_text:#fff;
  --inspector_warning_background:#673b0a;
  --inspector_warning_text:#fef6e1;
  --loading_action:#fff;
  --loading_action_active:#8e8e93;
  --loading_background:#101010;
  --loading_shimmer_background:#fff;
  --loading_shimmer_background_faded:hsla(0,0%,100%,0.8);
  --login_background_default:#171c26;
  --login_banner_action:#fff;
  --login_banner_action_active:#d1d1d6;
  --login_banner_background:#12161e;
  --login_banner_text:#fff;
  --login_users_banner_action:#fff;
  --login_users_banner_action_active:#48484a;
  --login_users_banner_background:#a8d8f0;
  --login_users_banner_text:#fff;
  --modal_background:#2c2c2e;
  --modal_background_dark:#171c26;
  --modal_row_background_active:#48484a;
  --negative_text:#e26136;
  --onboarding_background_default:#3a3a3c;
  --onboarding_last_step:#25384f;
  --onboarding_progress_circle_background:#1c1c1e;
  --onboarding_progress_circle_border:#636366;
  --onboarding_progress_circle_current_border:#4594d6;
  --onboarding_progress_circle_next:#a8d8f0;
  --onboarding_progress_circle_next_border:#4594d6;
  --onboarding_progress_tree_empty:#636366;
  --onboarding_step_one_hover:#26320b;
  --onboarding_step_one_selected:#6d9f38;
  --onboarding_step_one_unselected:#324412;
  --onboarding_step_two_hover:#36284d;
  --onboarding_step_two_selected:#9569b8;
  --onboarding_step_two_unselected:#4e3465;
  --positive_text:#80b83d;
  --positive_text_active:#9ad05d;
  --primary_action_active:#59b2eb;
  --primary_action_highlighted:#6aa9de;
  --primary_action_subdued:#3776ab;
  --primary_button_background_active:#3673a6;
  --primary_button_text:#fff;
  --register_balance_negative:#e26136;
  --register_flag_none_background:#636366;
  --register_flag_primary_background:#ff453a;
  --register_flag_quarternary_background:#32d74b;
  --register_flag_quinary_background:#64d2ff;
  --register_flag_secondary_background:#ff9f0a;
  --register_flag_senary_background:#bf5af2;
  --register_flag_tertiary_background:#ffd60a;
  --register_icons_fill_default:#636366;
  --register_scheduled_transaction_toggle_background:#3a3a3c;
  --register_status_cleared:#80b83d;
  --register_status_scheduled_background:#48484a;
  --register_status_scheduled_text:#d1d1d6;
  --register_status_uncategorized_background:#673b0a;
  --register_status_uncategorized_text:#fef6e1;
  --register_status_uncleared:#aeaeb2;
  --reports_eight:#fdcb55;
  --reports_eleven:#636366;
  --reports_five:#6d9f38;
  --reports_four:#b087c4;
  --reports_header_button_background:#1c1c1e;
  --reports_header_button_text:#fff;
  --reports_header_button_text_active:#fff;
  --reports_header_button_text_selected:#fff;
  --reports_networth_assets_background:#3673a6;
  --reports_networth_debts_background:#ca481d;
  --reports_nine:#932810;
  --reports_one:#3673a6;
  --reports_seven:#e0a41a;
  --reports_six:#9ad05d;
  --reports_ten:#e26136;
  --reports_three:#744893;
  --reports_two:#59b2eb;
  --scrim_default:rgba(110,118,125,0.45);
  --scrim_invisible:transparent;
  --scrim_strong:rgba(110,118,125,0.6);
  --secondary_action:#636366;
  --secondary_action_active:#bebec1;
  --secondary_action_border:#636366;
  --secondary_action_disabled:#48484a;
  --secondary_button_text:#fff;
  --sidebar_account_negative_balance_background:#3a3a3c;
  --sidebar_background:#101010;
  --sidebar_button_background_active:#1c1c1e;
  --sidebar_button_background_selected:#2c2c2e;
  --sidebar_button_secondary_background:#323234;
  --sidebar_button_secondary_background_active:#49494b;
  --sidebar_button_secondary_background_pressed:#606061;
  --sidebar_button_text:#fff;
  --sidebar_button_text_subdued:hsla(0,0%,100%,0.7);
  --sidebar_divider:rgba(0,0,0,0.15);
  --sidebar_icon_accounts_selected:#4594d6;
  --sidebar_icon_fill_default:#fff;
  --sidebar_text_default:#fff;
  --sidebar_text_subdued:hsla(0,0%,100%,0.75);
  --status_negative:#932810;
  --table_header_background_default:#2c2c2e;
  --table_header_text_default:#d1ebfa;
  --table_header_text_subdued:#d1ebfa;
  --table_row_background_default:#1c1c1e;
  --table_row_background_selected:#25384f;
  --table_row_divider:rgba(84,84,88,0.65);
  --table_row_text_default:#ebf7ff;
  --table_row_text_selected:#fff;
  --table_row_text_selected_subdued:hsla(0,0%,100%,0.7);
  --tbb_default_text:#fff;
  --tbb_negative_background:#651c0b;
  --tbb_positive_background:#324412;
  --tertiary_action:#a8d8f0;
  --tertiary_action_active:#4594d6;
  --textinput_background:#3a3a3c;
  --textinput_background_disabled:#8e8e93;
  --textinput_border:#636366;
  --toolbar_background:#1c1c1e;
  --warning_text:#e9b92a;
  --white:#fff
 }
 body.theme-dark ::-webkit-scrollbar {
  background:#1c1c1e
 }
 body.theme-dark ::-webkit-scrollbar-thumb {
  background:#3a3a3c;
  border-radius:10rem
 }
 body.theme-dark ::-webkit-scrollbar-corner {
  background:#2c2c2e
 }